.App {
  text-align: left;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  color: black;
}

.App-link {
  color: #61dafb;
}

li {
  list-style-type: none;
  color: white;
}
.centerAlign {
  text-align: center;
}
table {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
tr:nth-child(odd) {
  background-color: rgb(133, 126, 148);
}
tr:nth-child(even) {
  background-color: rgb(115, 120, 124);
}
